@model MVC.ViewModels.CatalogViewModels.CatalogItem



@if (Context.User.Identity.IsAuthenticated)
{
    <div>
        <div class="card" style="width:100%">
            <div style="height:300px;  vertical-align: middle">
                <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" alt="Card image">
            </div>        
            <div class="card-body">
                <form >
                    <a asp-controller="Catalog" asp-action="GetItemById" class="card-link">
                        <input type="hidden" asp-for="@Model.Id" />
                        <p class="card-text">@Model.Name</p>
                    </a>
                </form>
                <p class="card-text">@Model.CatalogModel.CatalogBrand.Brand @Model.CatalogModel.Model</p>
                <div class="esh-catalog-price">
                    <span>@Model.Price.ToString("N2")</span>
                </div>
                <form asp-controller="Basket" asp-action="AddItemToBasket" method="post">
                    <input type="hidden" asp-for="@Model.Id"/>
                    <button class="btn btn-primary">Add to cart</button>
                </form>

            </div>
        </div>
    </div>
}
else
{

    <form>
        <div class="card" style="width:100%">
            <div style="height:300px;  vertical-align: middle">
                <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" alt="Card image">
            </div>
            <div class="card-body">
                <form>
                    <a asp-area="" asp-controller="Catalog" asp-action="GetItemById" method="post" class="card-link">
                        <input type="hidden" asp-for="@Model.Id" />
                        <p class="card-text">@Model.Name</p>
                    </a>
                </form>
                <p class="card-text">@Model.CatalogModel.CatalogBrand.Brand @Model.CatalogModel.Model</p>
                <div class="esh-catalog-price">
                    <span>@Model.Price.ToString("N2")</span>
                </div>
            </div>
        </div>
    </form>
}

@section Scripts {
    <script>
    $(document).ready(function () {
        $("#sendData").click(function () {
            var itemId = $(this).val()
            var dataToSend = { id: itemId, count: 1 };

            $.ajax({
                type: "POST",
                url: "/BasketController/AddItemToBasket",
                data: dataToSend
            });
        });
    });
    </script>
}