@model MVC.ViewModels.CatalogViewModels.CatalogItemForSingleItem

@{
    ViewBag.Title = "Item";
    Layout = "_Layout";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="height:300px;  vertical-align: middle; justify-content-center">
                <img class="esh-catalog-thumbnail" src="@Model.catalogItem.PictureUrl" alt="Card image">
            </div>
            <div class="card-body" style="justify-content-center">
                <p class="card-text">@Model.catalogItem.Name</p>
                <p class="card-text">@Model.catalogItem.CatalogModel.CatalogBrand.Brand @Model.catalogItem.CatalogModel.Model</p>
                <p class="card-text">@Model.catalogItem.Description</p>
                <div class="esh-catalog-price">
                    <span>@Model.catalogItem.Price.ToString("N2")</span>
                </div>
            </div>
            <div class="card-footer" style="justify-content-center">
                <form asp-controller="Basket" asp-action="AddItemsInBasket" method="post">
                    <div class="esh-catalog-counter">
                        <input asp-for="@Model.basketItem.Count" class="esh-catalog-counter-value" min="0" id="valueInput">
                    </div>
                    <input type="hidden" asp-for="@Model.catalogItem.Id" />
                    <button class="btn btn-primary">Add to cart</button>
                </form>
            </div>
        </div>
        
    </div>
}
else
{
    <div class="container-fluid">
    <div class="card">
            <div class="card-header" style="height:300px;  vertical-align: middle; justify-content-center">
            <img class="esh-catalog-thumbnail" src="@Model.catalogItem.PictureUrl" alt="Card image">
        </div>
            <div class="card-body" style="justify-content-center">
            <p class="card-text">@Model.catalogItem.Name</p>
            <p class="card-text">@Model.catalogItem.CatalogModel.CatalogBrand.Brand @Model.catalogItem.CatalogModel.Model</p>
            <p class="card-text">@Model.catalogItem.Description</p>
            <div class="esh-catalog-price">
                <span>@Model.catalogItem.Price.ToString("N2")</span>
            </div>
        </div>
            <div class="card-footer" style="justify-content-center">
            <p>To order please sign in</p>
        </div>
    </div>
    </div>
}
