@model MVC.ViewModels.BasketViewModels.BasketIndexViewModel

@{
    ViewData["Title"] = "Basket";
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section class="esh-catalog-hero">
    <div class="container-fluid">
    </div>
</section>

    <div class="container-fluid">
            @if (Model.BasketItems.Count>0)
            {

                <div class="container-fluid">
                    <div class="d-flex justify-content-end mb-3">
                        <form asp-controller="Basket" asp-action="ClearBasket">
                            <button type="button" class="btn btn-primary mr-2">Clear Basket</button>
                        </form>
                        <form asp-controller="Order" asp-action="CreateOrder">
                            <input type="hidden" value="@Model">
                            <button type="button" class="btn btn-primary">Create Order</button>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Part Name</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Price</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var basketItem in Model.BasketItems)
                        {
                            <tr>
                                <td>@basketItem.Name</td>
                                <td>@basketItem.CatalogModel.CatalogBrand.Brand</td>
                                <td>@basketItem.CatalogModel.Model</td>
                                <td>@basketItem.Price.ToString("C")</td>
                                <td>
                                    <form asp-controller="Basket" asp-action="ChangeItemsCountInBasket">
                                        <div class="d-flex mb-3">
                                            <input asp-for="@basketItem" class="esh-catalog-counter-value mr-2" min="1" id="valueInput">
                                            <button type="button" class="btn btn-primary">Change</button>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form asp-controller="Basket" asp-action="DeleteItemFromBasket">
                                        <input type="hidden" asp-for="@basketItem.Id">
                                        <a>Delete</a>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
            <div class="row justify-content-center">
                <p class="h1">Your basket is empty</p>
            </div>
            }
      </div>