@model MVC.ViewModels.BasketViewModels.BasketIndexViewModel

@{
    ViewData["Title"] = "Basket";
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section class="esh-catalog-hero">
    <div class="container-fluid">
    </div>
</section>

    <div class="container-fluid">
            @if (Model.BasketItems.Count>0)
            {

                <div class="container-fluid">
                    <div class="row">
                    <div class="col-*-*"><button type="button" class="btn btn-primary">Primary</button></div>
                    <div class="col-*-*"><button type="button" class="btn btn-primary">Primary</button></div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Part Name</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Price</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var basketItem in Model.BasketItems)
                        {
                            <tr>
                                <td>@basketItem.Name</td>
                                <td>@basketItem.CatalogModel.CatalogBrand.Brand</td>
                                <td>@basketItem.CatalogModel.Model</td>
                                <td>@basketItem.Price.ToString()$</td>
                                <td>@basketItem.Count.ToString()</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
            <div class="row justify-content-center">
                <p class="h1">Your basket is empty</p>
            </div>
            }
      </div>